@import './general';
@import './mixin';
@import './fonts';
@import './navbar';
@import './intro';
@import './search';
@import './top__courses';
@import './discount';
@import './trending__courses';
@import './upcoming__webinar';
@import './personal__reccomendtions';
@import './footer';
@import './search__navbar';
@import './login';
@import './filter';
@import './profile';