.filter{
    height: auto;
    margin-top: 40px;   

    &__container{
        display: flex;
    }

    &__sidebar{
        width: 270px;
        margin-right: 20px;

        &__title{
            font-family: 'Roboto';
            font-size: 16px;
            line-height: 24px;
            color: rgba(27, 27, 27, 0.9);
            margin-bottom: 4px;
        }
    }

    &__cards{
        width: 930px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__option{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__checkbox{
        width: 16px;
        height: 16px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        cursor: pointer;

        &__text{
            margin-left: 8px;
            font-family: 'Roboto';
            font-size: 16px;
            line-height: 20px;
            color: rgba(27, 27, 27, 0.9);
        }
    }
}
