* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(27, 27, 27, 0.6);
}

input {
  background: rgba(249, 249, 249, 0.9);
  border-radius: 3px;
  padding: 8px 12px;
  border: none;
}

.card {
  width: 285px;
  height: 318px;
  display: flex;
  flex-direction: column;

  &__top {
    background-image: url(/assets/card_img1.png);
    width: 285px;
    height: 161px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__top2 {
    background-image: url(/assets/card_img2.png);
  }

  &__top3 {
    background-image: url(/assets/card_img3.png);
  }

  &__top4 {
    background-image: url(/assets/card_img4.png);
  }

  &__top5 {
    background-image: url(/assets/card__img5.png);
  }

  &__top6 {
    background-image: url(/assets/card_img6.png);
  }

  &__top7{
    background-image: url(/assets/card_img7.png);
  }

  &__top8{
    background-image: url(/assets/card_img8.png);
  }

  &__top9{
    background-image: url(/assets/card_img9.png);
  }

  &__tags {
    padding: 5px 10px;
  }
  &__person_outline {
    margin-top: 100px;
    margin-left: 240px;
  }

  &__tag1 {
    display: inline-block;
    width: 80px;
    height: 25px;
    text-align: center;
    padding: 10px;
    background: #3dcbb1;
    border-radius: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
  }

  &__tag2 {
    display: inline-block;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 8px;
    background: #a04ae3;
    border-radius: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
  }

  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }

  &__author__name {
    margin-top: 4px;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3dcbb1;
  }

  &__text {
    margin-top: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(27, 27, 27, 0.9);
  }

  &__stars {
    margin-top: 4px;
    display: flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(27, 27, 27, 0.6);
  }

  &__prices {
    margin-top: 4px;
    display: flex;
    gap: 4px;
  }

  &__actual__price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(27, 27, 27, 0.9);
  }

  &__old__price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: rgba(27, 27, 27, 0.6);
  }
}
