.intro {
  position: relative;
  height: auto;
  background-image: url(/assets/intro_bcg_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  &__container {
    height: 660px;
  }

  &__title {
    padding-top: 206px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: white;
  }

  &__sbt {
    padding-top: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: white;
  }
}
