.navbar {
  height: 60px;
  padding: 10px 0;
    position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;

  &__container {
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    padding: 0 15px;
    background: rgba(249, 249, 249, 0.9);

    &__input {
      width: 400px;
      height: 37px;
      border: none;
      background-color: #f0f0f0;
      background: rgba(249, 249, 249, 0.9);
      border-radius: 3px;
    }
  }

  &__autorization {
    width: 223px;
    height: 32px;
    display: flex;
    justify-content: space-between;
  }

  &__login__btn {
    @extend %transparent__btn;
    width: 63px;
    height: 32px;
  }

  &__signin__btn {
    @extend %turquoise__btn;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__btn {
    border: none;
    background-color: transparent;
  }
}

.ri-shopping-cart-2-fill {
  font-size: 26px;
  transition: all 0.3s ease;
}

.ri-shopping-cart-2-fill:hover{
  font-size: 29px;
}

.ri-time-line {
  font-size: 15px;
}
