.personal__reccomendations {
  height: auto;
  background-color: #ffec8a;
  &__container {
    height: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-top: 40px;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }

  &__btn {
    @extend %transparent__btn;
    width: 124px;
    height: 41px;
    margin-top: 24px;
  }
}
