.profile__section {
  height: auto;

  &__container {
    width: 675px;
    height: auto;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Roboto";
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
  }

  &__ul {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  &__avatar {
    font-size: 80px;
    margin: 40px auto;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  label {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: rgba(27, 27, 27, 0.6);
  }

  &__hr {
    margin: 2px 0;
    border: 1px solid #e0e0e0;
  }

  &__btn {
    @extend %turquoise__btn;
    width: 179px;
    height: 41px;
    margin: 40px auto;
    font-size: 16px;
  }
}
