.upcoming__webinar {
  height: auto;

  &__container {
    height: 367px;
    margin-top: 72px;
  }

  &__title {
    font-family: "Roboto";
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
  }

  &__down{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
}
